.services-list i, .services, .about-container, .button__main, .heading, .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-list, .about-quote, .about, .heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button__main {
  padding-inline: 5%;
}

.heading, .value {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

* {
  -webkit-padding-start: unset;
          padding-inline-start: unset;
  text-decoration: none;
  list-style: none;
  font-family: "Helvetica";
  margin: unset;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: white;
}
.header__logo {
  height: 40px;
}

.heading, .value {
  position: relative;
  background-image: url(../images/texture-paper.png), url(../images/baniere_titre_agence_web_la_panthere.jpg);
  background-attachment: fixed;
}
.heading::before, .value::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.heading-container {
  z-index: 1;
  gap: 30px;
}
.heading-container__logo {
  height: 100px;
  width: auto;
}
.heading-container__h1 {
  font-size: 32px;
  color: #C64A10;
  font-weight: 400;
}

.button__main {
  cursor: pointer;
  background-color: #C64A10;
  padding: 12px 28px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.button__main:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  color: black;
}

.about {
  margin-inline: 200px;
  background-color: white;
  gap: 30px;
}
.about-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-container__h2 {
  font-size: 24px;
  font-weight: 600;
  white-space: wrap;
  color: rgb(92, 92, 92);
}
.about-quote {
  margin-top: 30px;
  background-image: url(../images/texture-paper.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-attachment: fixed;
  padding: 5%;
  gap: 20px;
}
.about-quote__p {
  font-weight: 600;
}
.about-quote cite, .about-quote figcaption {
  font-weight: 600;
}

.services {
  gap: 30px;
}
.services-list {
  gap: 20px;
}
.services-list i {
  width: auto;
  height: 60px;
}
.services-list__icon {
  font-size: 40px;
  color: #C64A10;
}
.services-list__h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.services-list__p {
  text-align: center;
  font-weight: 500;
}

.value {
  background-image: url(../images/texture-paper.png), url(../images/baniere_titre_agence_web_la_panthere.jpg);
}/*# sourceMappingURL=style.css.map */