%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-center--modifier {
    display: flex;
    align-items: center;
}

%flex-start {
    justify-content: flex-start;
}

%flex-end {
    justify-content: flex-end;
}

%flex-baseline {
    align-items: baseline;
}

%text-center {
    text-align: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex-around {
    display: flex;
    justify-content: space-around;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%padding-inline {
    padding-inline: 5%;
}

%padding-vertical {
    padding-top: 100px;
    padding-bottom: 100px;
}

%padding-vertical--modifier {
    padding-top: 50px;
    padding-bottom: 50px;
}

%radius-main {
    border-radius: 15px;
}

%radius--modifier {
    border-radius: 25px;
}

%margin-inline {
    margin-inline: 10%;
}

%margin-inline-modifier {
    margin-inline: 20%;
}

%gap {
    gap: 30px;
}

%main-shadow {
    box-shadow: 1px 3px 4px rgb(0 0 0 / 30%);
}

%shadow--modifier {
    box-shadow: 2px 1px 10px rgb(0 0 0 / 30%);
}